<div class="home-page">
    <!-- Home page header starts -->
    <div class="home-header">
        <p class="welcome-home">Welcome To Buzz {{data.username}}</p>
        <span class="logout-user" ng-click="logout()">
            <button type="submit" class="btn btn-primary">Log out</button>
           </span>
        
    </div>
    <!-- Home page header ends -->





    <!-- Home page body start -->
    <div class="home-body">
        <div class="row">
         <div class="feed-text">
            <textarea id="post"
                class="feed form-control" 
                placeholder="What is buzzing you?" 
                ng-keydown="sendfeed($event)"
            ></textarea>
        </div>

 <!-- Post -->

     <div class="col-md-8">          
          <div class="post-list">
            <h2 class="post-user">{{data.username}}</h2>
            <p class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
          </div>
          <div class="card-footer text-muted">
            Posted by
            <a href="#">{{data.username}}</a>
          </div>
        </div>


    <!-- Home page body end -->





            <!-- Conversation starts -->
                <div class="col-md-4">
                <div class="message-container">
                    <p ng-show="data.selectedFriendId !== null" ? true : false >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="message-heading"> Chat History With {{data.selectedFriendName}}</span>
                    </p>
                    <div class="message-list">
                        <ul class="message-thread">
                            <li ng-repeat="messagePacket in data.messages"
                                ng-class="{ 'align-right' : alignMessage(messagePacket.fromUserId) } ">
                                {{messagePacket.message}}
                            </li>
                        </ul>
                    </div>
                    <div class="message-text">
                        <textarea id="message" 
                            class="message form-control" 
                            placeholder="Type and hit Enter" 
                            ng-keydown="sendMessage($event)"
                        ></textarea>
                    </div>
                </div>
            </div>

            <!-- Conversation section ends -->

            <!-- Conversation section  -->
            <div class="col-md-4">
                <div class="chat-list-container">
                    <p class="chat-list-heading"><i class="fa fa-user" aria-hidden="true"></i> <span >Friends</span> </p>

                    <div class="chat-list">
                        <ul class="list-group" ng-if="data.chatlist.length > 0">
                            <li class="list-group-item"
                                ng-repeat="friend in data.chatlist"
                                ng-click="selectFriendToChat(friend.id)"
                                ng-class="{'active':friend.id == data.selectedFriendId}"
                            >{{friend.username}}</li>
                        </ul>
                        <div class="alert alert-info" ng-if="data.chatlist.length === 0">
                            <strong>No one is online at the moment.</strong>
                        </div>
                    </div>                    
                </div>
            </div>
            <!-- Conversation  ends -->

        </div>
    </div>
    <!-- Home page body start -->
</div>